@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    min-height: 100vh;
}
/* Initial hidden state */
.connect-form {
    opacity: 0;
    transform: translateY(100px);
    width:0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, width 0.7s ease-out;
}

/* Animation class */
.connect-form.animate {
    opacity: 1;
    transform: translateY(0);
    width:100%;
}

.connect h1{
    width:100%;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: left;
    color:#0090c5;
    /* text-decoration: underline; */
    line-height: 50px;
}
.connect h1 span{
    padding-bottom: 8px;
    border-bottom: 2px solid #00abf0; 
    font-family: 'Popins', sans-serif;
}

.connect h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.connect-form {
    max-width: 600px;
    width: 100%;
    border: 2px solid #0090c5;
    padding: 40px;
    border-radius: 7px;
}


.connect-form input,
.connect-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.connect-form textarea {
    resize: vertical;
}

.connect-form .error {
    color: #ff0596;
    font-size: 14px;
    margin-top:-5px;
    margin-bottom: 10px;
}

.connect-form .success {
    color: #02b7ff;
    font-size: 15px;
    margin-top: 15px;
}
.connect-form button {
    text-decoration: none;
    position: relative;
    display:inline-flex ;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #00abf0;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    padding:10px;
    overflow: hidden;
    cursor: pointer;
}
.connect-form button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f242d;
    z-index: -1;
    transition: 0.5s;
    border-radius: 5px;
}

.connect-form button:hover::before{
    height: 0%;
}

.connect-form button:hover {
    
    color:#081b29;
}

.connect span{
    color: #00abf0;
    font-weight: 600;
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-size:30px;
    font-style: normal;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .connect {
        padding: 0 5%;
    }
    .connect h2, .connect h1{
        font-size: 28px;
    }
    .connect-form {
        padding: 25px;
    }
}